/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
::selection{
  background: #F2994A;
}
.page{
  width: 90%;
  margin: 0 auto;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-display: auto;
  color: #1C1C1E;
  overflow-x: hidden;

}
body a{
  font-weight: 600;
  text-decoration: none;
}
body ul{
  list-style-type: none;
}
header{
  width: 100%;
  transition: all ease-out 1s;
  height: 100vh;
  background-image: url("img/bckgd.png"); /* image src - <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#masthead{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  position: relative;
}
#mast-burger{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.logo h5, .logo h6{
  color: #080808;
  line-height: 0.9rem;
}
.logo h5{
  font-weight: 500;
  font-size: 1.2rem;
}
.dev{
  font-size: 0.8rem;
}
.logo h6{
  font-weight: 400;
  font-size: 0.6rem;
}
nav li{
  display: inline-block;
  position: relative;
}

nav ul li a{
  color: #080808;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all .5s;
}
nav ul li:not(:last-child){
  padding-right: 1rem;
}

nav ul li a:hover,
nav ul li a:active{
  color: #F2994A;
  
}

#nav-about{
  animation: moveUpDown 1.5s ease-out;
  animation-fill-mode: backwards;
}
#nav-portfolio{
  animation: moveUpDown 1.5s ease-out .5s;
  animation-fill-mode: backwards;
}
#nav-contact{
  animation: moveUpDown 1.5s ease-out .75s;
  animation-fill-mode: backwards;
}
#banner{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 6rem;
  position: absolute;
  top: 25%;

}

#banner--intro__hello,
#banner--intro__name {
  font-size: 3rem;
  font-weight: 300;
  animation: moveInRight 1.5s ease-out;
  backface-visibility: hidden;
}
.btn-about{
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
  padding: 0.6rem 1.6rem;
  animation: moveInBottom 1s ease-out 1s;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

#downed{
  position: absolute;
  bottom: 5%;
  color: #080808;
  z-index: 1000;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  animation: moveUpDown 2s ease-out 2s;
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
}
#about,
#portfolio,
#contact{
  padding-top: 5%;
}
#about--content{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#about--composition{
  flex:1;
  padding-right: 2rem;
}
#about-img{
  flex:0.8;
}
#about-img img{
  max-width: 100%;
}
#about--composition p{
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.abt--link:link,
.abt--link:visited{
	color: #F2994A;
}
.abt--link:hover{
	color: #000;
	transition: color 1s ease-out;
}
.heading{
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem 0;
}
.itals{
  font-style: italic;
  font-weight: 600;
}
.boldering{
  font-weight: 600;
}
.stack-head{
  padding-bottom: 0.6rem;
}
#pro-lang{
  padding-bottom: 2rem;
}
.btn-resume{
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
  padding: 0.6rem 1.6rem;
  animation: moveInBottom 1s ease-out 1s;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

#portfolio h4{
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}
.folio{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px,auto);
  grid-gap: 3rem;
  margin-bottom: 5rem;
}
.description-box {
  grid-column: 1/2;
  order:1;
}
.folio-image{
  grid-column: 2/3;
  order:2;
}
.description-txt p{
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.folio-image img{
  max-width: 100%;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}
.btn-blue{
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
  padding: 0.6rem 1.6rem;
  margin-right: 2rem;
}
.btn-black{
  background-color: #fff;
  padding: 0.6rem 1.6rem;
  border: 0.07rem solid #F2994A;
  color: #1C1C1E;
}
.button-box{
  padding-top:1.5rem;
}
#contact{
  text-align: center;
  padding-bottom: 8rem;
}
footer{
  text-align: center;
}
footer p{
  padding: 1.5rem 0;
  font-size: 0.8rem;
}

/* NOTE: button */
.btn:link,
.btn:visited{
  text-transform: uppercase;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  backface-visibility: hidden;
  position: relative;
	letter-spacing: 0.1rem;
  font-size: 0.6rem;
  font-weight: 600;
}
.btn:hover{
  transform: translateY(-0.188rem);
  box-shadow: 0 0.8rem 0.5rem rgba(0, 0, 0, 0.1);
}
.btn:active{
  transform: translateY(-0.063rem);
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.05);
}

/* NOTE: word carousel specifics */
.banner--ms-header {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  /*jsutify-content: center;*/
}
.banner--ms-header__title {
  flex: 1 1 100%;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
.banner--ms-slider {
  display: inline-block;
  height: 1.5rem;
  overflow: hidden;
  vertical-align: middle;
  -webkit-mask-image: linear-gradient(transparent, white, white, white, transparent);
          mask-image: linear-gradient(transparent, white, white, white, transparent);
  mask-type: luminance;
  mask-mode: alpha;
}
.banner--ms-slider__words {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation-name: wordSlider;
          animation-name: wordSlider;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
.banner--ms-slider__word {
  display: block;
  line-height: 1.3rem;
  text-align: left;
  font-weight: 600;
  font-style: italic;
}

/* NOTE: keyframes */
@-webkit-keyframes wordSlider {
  0%,
    27% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  33%,
    60% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  66%,
    93% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
}
@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
  80%{
    transform: translate(1rem);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(10rem);
  }
  80%{
    transform: translate(-1rem);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0%{
    opacity: 0;
    transform: translateY(3rem);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveUpDown {
	0%{
		opacity: 0;
    transform: translateY(2rem);
	}
	50%{
		opacity: 1;
		transform: translateY(-0.5rem);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}




#burger{
  font-size: 1.5rem;
  display: none;
  margin-left: auto;
  text-align: right;
  animation: moveInUp .3s ease-out;
  backface-visibility: hidden;
}





/* Media Queries */
@media screen and (min-width: 1100px){
	.page{
		width: 1100px;
	}
}
@media screen and (max-width: 800px){
  nav{
    z-index: 500;
  }
  #about--composition{
    background-image: none;
  }
  #about--composition p{
    width: 100%;
  }
  .folio{
    grid-gap: 1rem;

  }
  .description-box {
    grid-column: 1/3;
    order:2;
  }
  .folio-image{
    grid-column: 1/3;
    order:1;
  }
  #masthead{
    flex-direction: column;
  }
  #mast-burger{
    width: 100%;
  }
  nav li{
		display: block;
		margin-bottom: 2rem;
    text-align: center;
    
  }
  nav ul li:not(:last-child) {
    padding-right: 0;
  }
  #burger{
		display: block;
	}
	#burger:hover{
		cursor:pointer;
	}
	nav ul{
    margin-top: 3rem;
    display: none;
	}
	.open{
	display: block;
	}
  #about--content{
    flex-direction: column;
  }
  #about--composition{
    order:2;
    padding: 1.5rem 0 0 0;
  }
  #about-img{
    order:1;
  }
}
